.rock-salt-regular {
	font-family: "Rock Salt", serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: #ac9270;
  }

body{
	background: rgb(126, 196, 250) !important;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.navbar{
	background: #333;
	color: white;
	position: relative;
}

.main{
	padding: 30px 0;
	position: relative;

}

.game-button{
	width: 75px;
	height: 75px;
	padding: 0;
	margin: 0 1px;
	cursor: url('../shovel.png'), pointer;
	background: rgba(255, 255, 255, 0.204);
	background-size: cover; 
    background-position: center; 
	border: 0;
}

.game-button:hover{
	background: rgba(255,255,255,0.9);
	transition-duration: 0.5s;
}

.game-button.dug{
	cursor: not-allowed;
	background-image: url('../dug.png'); 
    background-size: cover; 
	background-position: center; 
}

.game-button:disabled{
	cursor: not-allowed; 
}

.clear{
	clear:both;
}

#board{
	position: relative;
	border-radius: 2px;
	padding: 30px;
	width: 500px;
	background: rgb(195, 236, 178);
	margin-left: auto;
	margin-right: auto;
}

#ui{
	position: relative;
	display: inline-block;
	/*right: 30px;*/
	padding: 20px;
	background: #f6d7b0;
}

#health[value]{
	-webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
	background-color: #eee;
}

#game{
	position: relative;
	display:inline-block;
	/*left: 30px;*/
	text-align:center;
}

#demo5{
	font-weight:bold;
}

.icon{
	padding: 0 10px;
	height: 25px;
}

#score-div{
	display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    gap: 5px; 
}

#demo3{
	font-size: 20px; 
    margin: 0;
	font-weight: 600;
}

#demo4{
	font-weight: 600;
	height: 35px;
    overflow: hidden; 
    text-align: center; 
    line-height: 40px; 
}

#start-button{
	background: rgb(195, 236, 178);	
	color: white;
	border: 0;
	padding: 5px 15px;
	cursor: pointer;
	border-radius: 2px;
}

#start-button:hover{
	background: rgb(150, 208, 125);
}

#gameover{
	text-align:center;
	font-weight: 600;
	margin-top:20px;
}